 .whole_body1{
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15%;
  }

  .whole_body2{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

	.button {
	  display: inline-block;
	  border-radius: 4px;
	  background-color: #B50346;
	  border: none;
	  color: #FFFFFF;
	  text-align: center;
	  font-size: 16px;
	  padding: 10px;
	  width: 100px;
	  transition: all 0.5s;
	  cursor: pointer;
	  margin: 5px;
	}

	.button span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	}

	.button span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
	}

	.button:hover span {
	  padding-right: 25px;
	}

	.button:hover span:after {
	  opacity: 1;
	  right: 0;
	}

  .images{
    position: relative;
    background-image: url('../images/amrita_cbe.gif');
    background-repeat: no-repeat;
    background-position: 50% 7%;
    background-size: 40%;
    height: 70vh;
    background-color: floralwhite;
  }

  .left_block{
    padding-top: 4%;
    padding-right: 45%;
  }
  .right_block{
    
    padding-left: 60%;
  }

  .container {
    position: relative;
    text-align: center;
  }
  
  .left-image1{
    width: 22%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0%;
  }
  
  .right-image1{
    width: 9%;
    height: auto;
    position: absolute;
    top: 0;
    right: 5%;
  }

  .left-image2{
    width: 18%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0%;
  }
  
  .right-image2{
    width: 5%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0%;
  }
  
  .center-text {
    margin-top: 3%;
    position: relative;
    align-items: center;  
  }

  .text{
    text-align: center;
    color: indigo;
  }

 .custom-line {  
      border-color: #B50346;
	  border-width: 1px;
    }
  
  .footer{
    position: fixed;
    width: 100%;
    top: 88%;
    display: block;
    background-color: black;
    color: green;
    text-align: center;
  }